{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <h2>Update Profile</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

   
  </form>

  {% if records %}
    <hr>
    <h4>Uploaded Medical Records</h4>
    <ul>
      {% for record in records %}
        <li>
          <a href="{{ record.file.url }}" target="_blank">{{ record.file.name }}</a> - {{ record.description }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}
